<div id="nettuno-logo">
  <a href="/homepage"> <h1 id="nettuno-scacchi">NETTUNO SCACCHI</h1></a>

  <img
    src="https://pbs.twimg.com/profile_images/378800000344267493/b63be7b04b2b0cb41ce91fa9aa67e7e3.jpeg"
    alt=""
    id="logo"
  />
</div>

<div id="header-container">
  <div class="info" id="chi">
    <a href="/chi-siamo"> <h1 class="info-text">CHI SIAMO</h1></a>
  </div>
  <div class="info" id="dove">
    <a href="/dove-siamo"> <H1 class="info-text">DOVE SIAMO</H1></a>
  </div>
  <div class="info" id="orari">
    <a href="/orari-apertura"> <h1 class="info-text">ORARI DI APERTURA</h1></a>
  </div>
</div>
