<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aggiungi un post</title>
    <link rel="stylesheet" href="/css/addpost.css" />
    <script
      src="https://cdn.tiny.cloud/1/qfoememte3ekk1v8r06vk6sjfcvh3p9ki4pryzep65e7902x/tinymce/7/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script>
      tinymce.init({
        selector: "#textarea",
        plugins: "image code",
        toolbar: "undo redo | link image | code",
        file_picker_types: "image",
        image_title: true,
        automatic_uploads: true,
        file_picker_callback: function (cb, value, meta) {
          var input = document.createElement("input");
          input.setAttribute("type", "file");
          input.setAttribute("accept", "image/*");

          input.onchange = function () {
            var file = this.files[0];
            var reader = new FileReader();

            reader.onload = function () {
              var id = "blobid" + new Date().getTime();
              var blobCache = tinymce.activeEditor.editorUpload.blobCache;
              var base64 = reader.result.split(",")[1];
              var blobInfo = blobCache.create(id, file, base64);
              blobCache.add(blobInfo);

              // call the callback and populate the Title field with the file name
              cb(blobInfo.blobUri(), { title: file.name });
            };
            reader.readAsDataURL(file);
          };

          input.click();
        },
      });

      // Call uploadImages before submitting the form
      tinymce.activeEditor.uploadImages().then(() => {
        document.forms[0].submit();
      });
    </script>
  </head>
  <body>
    <div id="header-container">
      <a href="/homepage"
        ><button class="addpost-button">← HOMEPAGE</button>
      </a>
      <h1 id="addpost-title">SCRIVI UN NUOVO POST</h1>

      <a href="/admin/panel">
        <button class="addpost-button">ADMIN PANEL →</button>
      </a>
    </div>
    <% if(datomancante){ %>
    <h1 id="datomancante"><%= datomancante%></h1>
    <% } %>
    <form action="/addpost" enctype="multipart/form-data" method="POST">
      <label>titolo</label>
      <input type="text" name="titolo" class="input" />
      <label>data</label>
      <input type="date" name="data" class="input" />
      <label>testo</label>
      <textarea name="testo" class="input" id="textarea"></textarea>

      <label>foto-post</label>
      <input
        type="file"
        name="foto"
        accept=".jpg, .jpeg, .png, .heic, .jfif"
        multiple
        class="input"
      />
      <button class="input">submit</button>
    </form>
  </body>
</html>
