<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%if(post){ %>
    <div class="single-post-container">
      <% if(path){ %>
      <div class="imgContainer-single-post">
        <% path.forEach(immagine=>{ %> <img src="<%= ("/", immagine) %>"
        class="imgCompletePost"> <% })} %>
      </div>
      <h3><%=titolo %></h3>
      <h3 class="single-post-testo"><%=testo %></h3>
      <h3><%=data %></h3>
    </div>
    <% } %>
  </body>
</html>
