<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/chi.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div id="text-container">
      <p>
        <b>L’AD Scacchi Nettuno di Gardolo, fondato nel 1981</b> come Circolo
        Scacchi e Dama Nettuno Gardolo, nel 2011 ha festeggiato il trentesimo
        anno di attività. L’associazione è regolarmente affiliata alla
        Federazione Scacchistica Italiana, è iscritta al registro delle
        associazioni sportive del CONI, partecipa regolarmente alle
        manifestazioni nazionali quale il campionato italiano a squadre,
        organizza diversi tornei interni al circolo per gli scacchisti trentini.
        Dal 2004 l’associazione svolge una regolare
        <b>attività giovanile</b>
        in appoggio alle scuole e presso la sede dell’associazione. In periodo
        scolastico sono previsti corsi per U16, dal lunedì al giovedì, suddivisi
        per livello e per età. Il venerdì pomeriggio è riservato a corsi
        avanzati e personal training. Dal 2008 si organizzano
        <b>corsi serali per adulti</b>, alternando corsi base e corsi di livello
        avanzato. Dal 1982 è attivo un
        <b>gemellaggio con il circolo scacchi germanico di Neufahrn</b>, che
        prevede un incontro a squadre con cadenza annuale.
        <b>Il direttivo attualmente in carica</b> è così composto:
      </p>

      <ul>
        <li>Presidente: Bortolotti</li>
        <li>VicePresidente: Claudio Todoro</li>
        <li>Segretario: Livio Taufer</li>
        <li>Consigliere: Maurizio Bevilacqua</li>
        <li>Revisore dei Conti: Corrado Baratto</li>
      </ul>
      <p>
        L’incarico non elettivo di <b>Responsabile di sede</b> è stato affidato
        a Italo Vittorio Ginevrini Per ulteriori informazioni, potete scrivere
        all’indirizzo ad.scacchi.nettuno.gardolo@gmail.com"
      </p>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
