<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/dove.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div id="text-container">
      <p>
        Il circolo si trova in via Soprasasso 1 a Gardolo. <br /><br />Questo è
        il link su google maps:
        <a href="https://maps.app.goo.gl/SAodyNztkU6AxnVY8" id="link">
          AD Scacchi Nettuno Gardolo</a
        >
        <br /><br />
        Questa è una foto dello stabile che ospita la nostra sede
      </p>
      <img src="../images/Sede-Nettuno.jpg" alt="" />
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
