<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/orari.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div id="text-container">
      <p>
        La sede del circolo è aperta i giorni di martedì e venerdì, con i
        seguenti orari:
      </p>
      <ul>
        <li style="list-style-type: disc">Martedì dalle 20.30 alle 24.0</li>
        <li style="list-style-type: disc">Venerdì dalle 20.30 alle 24.00</li>
      </ul>

      <p>
        L’attività giovanile si svolge, in periodo scolastico, nei pomeriggi
        dalle 17 in poi. Il piano completo dei corsi è attualmente in fase di
        definizione, verrà comunicato al più presto
      </p>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
